<div class="row status-container bordered">
    <div class="row">
        <div class="col-md-2">
            {% include 'TechCorpFrontBundle:_components:profilepic.html.twig' with {'user':status.user, 'class':'status', 'app':app} %}
        </div>
        <div class="col-md-10">
            <p class="author">{{ 'by'|trans }}
                <a href="{{ path ('tech_corp_front_user_timeline', { userId: status.user.id } ) }}"
                        {% include 'TechCorpFrontBundle:_components:popover.html.twig' with {'user': status.user, 'class':'popover', 'app':app} %}
                >
                    {{ status.user.username }}
                </a>
            </p>
            <p class="date">{{ status.createdAt|elapsed|since }}</p>
            <p>{{ status.content }}</p>

        </div>
    </div>
    <div class="col-md-12"><hr></div>
    <div class="comment-count" id="comment-count-{{ status.id }}">
        <i class="fa fa-comments" aria-hidden="true"></i>
        {% if status.comments.count == 0 %}
        {{ 'comment.none'|trans}}
        {% else %}
            {% if status.comments.count == 1 %}
        {{ 'comment.one'|trans}}
            {% else %}
        {{ 'comment.many'|trans({'%nbComments%': status.comments.count}) }}
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-12"><hr></div>
    <div class="comment-container">
        {% for comment in status.comments %}
            <div class="row comment">
                <div class="col-md-2">
                    {% include 'TechCorpFrontBundle:_components:profilepic.html.twig' with {'user':comment.user, 'class': 'comment', 'app':app} %}
                </div>
                <div class="col-md-10">
                    <p class="author">
                        <a href="{{ path ('tech_corp_front_user_timeline',
                        { userId : comment.user.id } ) }}" {% include 'TechCorpFrontBundle:_components:popover.html.twig' with {'user': comment.user, 'class':'popover', 'app':app} %}
                        >
                            {{ comment.user.username }}
                        </a>
                    </p>
                    <p>{{ comment.content }}</p>
                    <p class="date">{{ comment.createdAt|elapsed|since }}</p>
                </div>
            </div>
            {% if not loop.last %}
                <div clas="row"><hr class="comment-separator" /></div>
            {% endif %}
        {% endfor %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row">
                <div class="col-md-12">
                    <form action="{{ path ('tech_corp_front_comment_add', { statusId : status.id } ) }}" method="POST">
                        <div class="form-group">
                            <label for="commentText" class="comment-title">{{ 'comment.add'|trans }} : </label>
                            <textarea class="form-control" rows="3" id="commentText-{{ status.id }}" name="commentText"></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="{{ 'comment.send'|trans }}" />
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</div>