{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/techcorpfront/css/*' filter='cssrewrite, uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts_body %}
    {{ parent() }}
    <script src="{{ asset ('bundles/techcorpfront/js/manage-friends.js') }}" type="text/javascript"></script>
    <script src="{{ asset ('bundles/techcorpfront/js/display-comments.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'TechCorpFrontBundle:_components:publish.html.twig' with {'app':app} %}
        {% if statuses != null %}
            <div>
            {% for status in statuses %}
                {% include 'TechCorpFrontBundle:_components:status.html.twig' with {'status':status, 'class':'friend', 'app':app} %}
            {% endfor %}
            </div>
        {% else %}
            <p>
            Les amis de cet utilisateur n'ont pour le moment rien publié.
            </p>
        {% endif %}
    </div>
{% endblock content %}