{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/techcorpfront/css/*' filter='cssrewrite, uglifycss' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts_body %}
    {{ parent() }}
    <script src="{{ asset ('bundles/techcorpfront/js/manage-friends.js') }}" type="text/javascript"></script>
    <script src="{{ asset ('bundles/techcorpfront/js/display-comments.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row timeline-top bordered">
            <div class="col-xs-3 col-md-3">
                {% include 'TechCorpFrontBundle:_components:profilepic.html.twig' with {'user':user, 'class': 'timeline', 'app':app} %}
            </div>
            <div class="col-xs-7 col-md-7 timeline-username">
                <h1>{{ user.username }}</h1>
            </div>
            <div class="col-xs-2 col-md-2 timeline-friend-button">

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user != user %}
                    {% if not app.user.hasFriend(user) %}
                        <button class="btn btn-primary add-friend" data-user-id="{{ user.id }}"><i class="fa fa-user-plus" aria-hidden="true"></i> {{ 'friend.add'|trans }}</button>
                    {% else %}
                        <button class="btn btn-primary remove-friend" data-user-id="{{ user.id }}"><i class="fa fa-user-times" aria-hidden="true"></i> {{ 'friend.remove'|trans }}</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 friends-container">
                <div class="row bordered">
                    <h4><i class="fa fa-users" aria-hidden="true"></i> {{ 'friends'|trans }} ({{ user.friends.count }})</h4>
                    {% for currFriend in user.friends %}
                        <div class="col-md-4">
                            <a href="{{ path('tech_corp_front_user_timeline', {"userId": currFriend.id}) }}">
                                {% include 'TechCorpFrontBundle:_components:profilepic.html.twig' with {'user':currFriend, 'class':'friend', 'app':app} %}
                            </a>
                        </div>
                    {% else %}
                        <p>Cet utilisateur n'a pas ajouté d'ami.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                {% include 'TechCorpFrontBundle:_components:publish.html.twig' with {'app':app} %}

                {% if statuses != null %}
                    <div class="statuses-container">
                        {% for status in statuses %}
                            {% include 'TechCorpFrontBundle:_components:status.html.twig' with {'status':status} %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>
                        Cet utilisateur n'a pour le moment rien publié.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}